@media (min-width: 240px) and (max-width: 360px) {

    .logow {
        transform: matrix(1.5, 0, 0, 2.5, 350, 220);
    }
    .logo{
        width: 250px;
        height: 160px;
        display: flex;
    }

    .login {
        width: 200px;
    }
    .pass {
        width: 200px;
    }

    .enter {
        width: 110px;
    }

    .close-button {
        position: fixed;
        top: 0px;
        right: 7px;
        text-decoration: none;
        color: black;
        font-size: 44px;
        font-weight: bold;
    }
}

@media (min-width: 361px) and (max-width: 480px) {

    .logow {
        transform: matrix(1.8, 0, 0, 2.5, 350, 220);
    }
    .logo{
        width: 290px;
        height: 190px;
        display: flex;
    }
    .login {
        width: 290px;
    }
    .pass {
        width: 290px;
    }

    .enter {
        width: 160px;
    }

    .close-button {
        position: fixed;
        top: 0px;
        right: 7px;
        text-decoration: none;
        color: black;
        font-size: 44px;
        font-weight: bold;
    }
}

